<div class="grid grid-cols-3">
  <app-product [title]="'Producto 01'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 02'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 03'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 04'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 05'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 06'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 07'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 08'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 09'" [price]="12" [img]="img"/>
  <app-product [title]="'Producto 10'" [price]="12" [img]="img"/>
</div>
